/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/*.grand-parent{
    background-color: brown;
    padding: 40px;
    margin: 20px;
    position: fixed;
}

.parent{
    background-color: blue;
    padding: 50px;
    margin: 20px;
}

.child{
    background-color: green;
    padding: 40px;
    margin: 20px;
}*/

/*.container{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 80px;
    flex-wrap: wrap;
    cursor: default;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 10px;
    gap: 20px;
    background-color: crimson;
    border-radius: 50%;
    cursor: pointer;
    flex-wrap: wrap;
}*/