p{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 4px solid blue;
    scale: 0.5;
    transition: linear;
    -webkit-transition: linear;
    -moz-transition: linear;
    -ms-transition: linear;
    -o-transition: linear;
}

div{
    height: 60px;
    margin: 20px;
    background-color: pink;
    border: 2px solid blue;
}